body {
    margin: 0;
    
}


.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-image: url("./bg.png");
    background-size: cover;
    background-position: center;
    margin: 0;    
}
